<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/kalbo/IdeaProjects/TestNG_Annotations/src/test/java/example3/AllAnnotations.java"><classes><class name="example3.AllAnnotations"><methods><include name="test1"/><include name="test2"/></methods></class></classes></test></suite>